{% extends "layout.html" %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', () => {

        //code to handle persisting room or set an initial room to lounge
        let previousRoom;
        if (localStorage.getItem('room')) {
            previousRoom = localStorage.getItem('room')
        }
        let room;
        if (previousRoom) {
            room = previousRoom
        }
        else {
            room = "lounge"
        }


        var socket = io.connect('http://' + document.domain + ':' + location.port);
        const username = `{{username}}`;
        var messages = `{{messages}}`;

        //Enter key causes send button click instead of having to click it with mouse
        let msg = document.querySelector('#message_text');
        msg.addEventListener('keyup', event => {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.querySelector('#send_button').click()
            }
        })

        //When connected, send a message!
        socket.on('connect', () => {

            //A user connects
            socket.emit('user_connects', {
                'message': "",
                'username': username,
            })

            joinRoom(room)

            //A message is sent
            document.querySelector('#send_button').onclick = () => {
                message_text = document.querySelector('#message_text').value
                document.querySelector('#message_text').value = ""
                socket.emit('message_send', {
                    'message': message_text,
                    'username': username,
                    'room': room
                })
            }

            //Create Channel button is pressed
            document.querySelector('#channel_button').onclick = () => {
                channel = document.querySelector('#channel_name').value
                document.querySelector('#channel_name').value = ""
                socket.emit('create_channel', {
                    'channel': channel
                })
            }

            //A room is selected from the channel list
            document.querySelectorAll('#select-room').forEach(p => {
                p.onclick = () => {
                    let newRoom = p.innerHTML;
                    if (newRoom == room) {
                        message = `You are already in ${room}.`
                        printSysMsg(message);
                    } else {
                        leaveRoom(room);
                        joinRoom(newRoom);
                        room = newRoom;
                    }
                }
            });

            //leaves room
            function leaveRoom(room) {
                socket.emit('leave', {
                    'username': username,
                    'room': room
                });
            }

            //joins room
            function joinRoom(room) {
                localStorage.setItem('room', room)
                socket.emit('join', {
                    'username': username,
                    'room': room
                });

                //clear message area
                document.querySelector('#messages').innerHTML = ""
                //Autofocus textbox
                document.querySelector('#message_text').focus()
            }

            //Used to alert the user of an error in the chat message window
            function printSysMsg(msg) {
                const p = document.createElement('p');
                p.innerHTML = msg;
                document.querySelector('#messages').append(p);
            }


        });

        //Displays a message -- This SOCKET gets used from all over!
        socket.on('message_update', data => {

            //loads previous message data on join event
            if ('previous_messages' in data) {
                for (message in data['previous_messages']) {
                    const li = document.createElement('li');
                    li.innerHTML = data['previous_messages'][message];
                    document.querySelector('#messages').append(li);
                }
            }

            //loads the message sent
            else {
                const li = document.createElement('li');
                li.innerHTML = data['message'];
                document.querySelector('#messages').append(li);
            }
        });

        //Adds a channel to the channel list
        socket.on('channel_update', data => {
            const li = document.createElement('li');
            li.innerHTML = data['channel'];
            document.querySelector('#channels').append(li);
        });
    });
</script>



<div class="container">
    <div class="row">
        <div class="col-4" style="background-color:powderblue;">
            <br>
            <div class="form-group-inline">
                <input id="channel_name" name="channel_name" autocomplete="off" class="form-control" placeholder="Channel Name" type="text">
            </div>
            <button id="channel_button" class="btn btn-primary" type="submit">Create</button>
            <br>

            <h5>Channels:</h5>
            <ul id="channels" style="list-style-type:none">
                {% for room in rooms %}
                <li id="select-room">{{ room }}</li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-8" style="background-color:lightgray;">
            <br>
            <h5>Messages:</h5>
            <ul id="messages" style="list-style-type:none">
                {% for message in messages %}
                    <li id="select-message">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
